body{
  background-color: teal;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.aligned {
  display: flex;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
  color: white;
  font-size:40px;
}